* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: center;
  background: #42517f;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2em;
  margin: 1em 0;
}

input {
  height: 3em;
  font-size: 1.1em;
  padding-left: 1em;
}

.list-input {
  width: 15em;
}

.quantity-input {
  width: 7em;
}

.price-input {
  width: 7em;
}

.button {
  height: 1.9em;
  width: 4.5em;
  font-size: 1em;
  color: #000;
  background: #f7fffe;
  border: unset;
  cursor: pointer;
  margin-top: 1em;
}

.button:hover {
  background: #427F51;
  color: #fff;
}

.clear {
  margin-right: 23em;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
}

.purchased {
  text-decoration: line-through;
  color: #04AA6D;
}

.list {
  margin: 0.5em;
  background: #fff;
  text-align: left;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25em;
  height: 3em;
  padding-left: 1em;
}

.list button {
  font-size: 1em;
  cursor: pointer;
  height: 3em;
  width: 3em;
  background: #04AA6D;
  border: none;
  vertical-align: middle;
}

.list button:active {
  transform: translateY(0.1em);
  background: #3e8e41;
}

.list img {
  height: 3em;
  width: 3em;
  font-size: 0.5em;
  vertical-align: middle;
}

.total-price {
  margin-bottom: 2em;
  font-size: 1.1em;
}

.clear-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #00000066;
}

.clear-modal div {
  background: #038a58;
  padding: 4em 0;
  margin: 10em auto;
  width: 50%;
}

@media screen and (max-width: 660px) {
  h1 {
    font-size: 1.5em;
  }

  input {
    display: block;
    margin: 1em 0 0 1em;
    font-size: 1em;
  }

  .clear {
    margin-right: 1em;
  }

  .clear-modal div {
    width: 95%;
  }
}

@media screen and (max-width: 393px) {
  .list {
    margin: 0.5em 0;
    width: 100%;
    height: auto;
  }
}
